*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.active {
  text-decoration: none;
  background-color: antiquewhite;
  border: 2px solid rgb(199, 126, 126);
  border-radius: 2px;
}
